@import "tools/mixins";
@import "tools/variables";

.container {
  padding: 0 2rem;

  //@include down(104.8125em) {}
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.link {
  cursor: pointer;
}
